
.personal-header {
    margin-top: 1.5rem;
    
}

.personal-header h5{
    text-align: left !important;
    color: #fff;
    padding: 1.5rem 3rem 0 3rem;
}

.individual-rental-form .btn-orange-outline{
    border: 1px solid #E8551E !important;
    border-radius: 10px !important;
    margin-top: 1.2rem !important;
    position: relative !important;
    bottom: 3rem;
    left: 40%;
  }
.corporate-rental-form .btn-orange-outline{
    border: 1px solid #E8551E !important;
    border-radius: 10px !important;
    margin-top: 1.2rem !important;
    position: relative !important;
    top: 0.7rem;
    bottom: 3rem;
    left: 40%;
  }
  
  .personal-form .btn-orange-outline{
    border: 1px solid #E8551E !important;
    border-radius: 10px !important;
    position: relative !important;
    bottom: 3rem;
    left: 40%;
  }

  .member-login-button {
    border: 1px solid #E8551E !important;
    border-radius: 10px !important;
  }

.corporate-header {
    margin-top: 1.5rem;
    
}

.corporate-header h5{
    text-align: left !important;
    color: #fff;
    padding: 1.5rem 3rem 0 3rem;
}

.corporate-text p{
    padding-right: 4rem;
}

@media screen and (min-width: 992px) and (max-width: 1600px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
 
  .personal-form .btn-orange-outline{
    width: 30%;
    position: relative !important;
    left: 35%;
  }

  .corporate-rental-form .btn-orange-outline{
    width: 30% !important;
    position: relative !important;
    left: 35%;
  }
  .corporate-text h4 {
    font-size: 1rem !important;
  }

  .corporate-text h5 {
    font-size: 1rem !important;
  }
 
  .corporate-text p{
    padding-right: 0.7rem !important;
  }
  .corporate-img {
    width: 100% !important;
  }
  .services span {
    font-size: 0.7rem !important;
  }

  .personal-services h5 {
    font-size: 1rem !important;
  }

  .personal-services h4 {
    font-size: 1.2rem !important;
  }

  .individual-rental-form h4 {
    font-size: 1rem !important;
  }


  .individual-rental-form  .btn-orange-outline{
    width: 30% !important;
    position: relative !important;
    left: 35%;
  }
  
  .corporate-services h5 {
    font-size: 1rem !important;
  }

  .corporate-services h4 {
    font-size: 1.2rem !important;
  }
  
  .corporate-header h5{
    padding: 1rem 2rem 0 2rem;
  }

  .driver-services h5 {
    font-size: 1rem !important;
  }

  .driver-services h4 {
    font-size: 1.2rem !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .menu-bar {
    font-size: 0.8rem !important;
    height: 35px !important;
    padding: 0.6rem 0 0 1rem !important;
  }

  
  .services span {
    font-size: 0.5rem !important;
  }
    
  .personal-form .btn-orange-outline{
    width: 30%;
    position: relative !important;
    left: 50%;
    transform: translate(-50%) !important;
  }

  
  .personal-services h5 {
    font-size: 0.8rem !important;
    padding: 1.3rem 0.6rem !important;
  }

  .personal-header {
    height: 70px !important;
    width: 100% !important;
  }

  .personal-services h4 {
    font-size: 0.9rem !important;
  }

  .personal-text {
    font-size: 0.8rem !important;
    width: 90% !important;
  }

  .form-policy label {
    font-size: 0.8rem !important;
  }

  .form-policy p{
    font-size: 0.8rem !important;
  }

  .individual-rental-form  .btn-orange-outline{
    width: 40% !important;
    position: relative !important;
    left: 29%;
  }

  .personal-bottom-text {
    font-size: 0.8rem !important;
    width: 90% !important;
  }

  .corporate-services h4 {
    font-size: 0.9rem !important;
  }

  .corporate-header {
    width: 100% !important;
  }

  .corporate-header h5{
    padding: 0.9rem 1rem !important;
    font-size: 0.8rem !important;
  }

  .corporate-text {
    font-size: 0.8rem !important;
    width: 92% !important;
  }

  .corporate-rental-form .btn-orange-outline{
    width: 40% !important;
    position: relative !important;
    left: 29%;
    margin-top: 0 !important;
  }
  
  .corporate-text h5 {
    font-size: 0.8rem !important;
  }
 
  .corporate-text p{
    padding-right: 0 !important;
  }
  .corporate-img {
    width: 100% !important;
    margin-top: 0 !important;
  }

  .driver-policy label {
    font-size: 0.8rem !important;
  }

  .corporate-services .member-login-button {
    width: 40% !important;
    position: relative !important;
    left: 28%;
    margin-top: 0 !important;
  }
  

  .driver-services h5 {
    font-size: 0.8rem !important;
  }

  .driver-services h4 {
    font-size: 0.9rem !important;
  }

  .corporate-header {
    width: 100% !important;
    height: 70px !important;
  }

  .driver-header h5{
    padding: 0.9rem 3rem !important;
    font-size: 0.8rem !important;
  }

  .driver-services-text {
    font-size: 0.8rem !important;
    width: 90% !important;
  }

}