
.personal-header {
    margin-top: 1.5rem;
    
}

.personal-header h5{
    text-align: left !important;
    color: #fff;
    padding: 1.5rem 3rem 0 3rem;
}

.individual-rental-form .btn-orange-outline{
    border: 1px solid #E8551E !important;
    border-radius: 10px !important;
    margin-top: 1.2rem !important;
    position: relative !important;
    bottom: 3rem;
    left: 40%;
  }
.corporate-rental-form .btn-orange-outline{
    border: 1px solid #E8551E !important;
    border-radius: 10px !important;
    margin-top: 1.2rem !important;
    position: relative !important;
    top: 0.7rem;
    bottom: 3rem;
    left: 40%;
  }
  
  .personal-form .btn-orange-outline{
    border: 1px solid #E8551E !important;
    border-radius: 10px !important;
    position: relative !important;
    bottom: 3rem;
    left: 40%;
  }

  .member-login-button {
    border: 1px solid #E8551E !important;
    border-radius: 10px !important;
  }

.corporate-header {
    margin-top: 1.5rem;
    
}

.corporate-header h5{
    text-align: left !important;
    color: #fff;
    padding: 1.5rem 3rem 0 3rem;
}

.corporate-text p{
    padding-right: 4rem;
}

@media screen and (min-width: 992px) and (max-width: 1600px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
 
  .personal-form .btn-orange-outline{
    width: 30% !important;
    position: relative !important;
    left: 35%;
  }

  .corporate-rental-form .btn-orange-outline{
    width: 30% !important;
    position: relative !important;
    left: 35%;
  }
  .corporate-text h4 {
    font-size: 1rem !important;
  }

  .corporate-text h5 {
    font-size: 1rem !important;
  }
 
  .corporate-text p{
    padding-right: 0.7rem !important;
  }
  .corporate-img {
    width: 100% !important;
  }
  .services span {
    font-size: 0.7rem !important;
  }

  .personal-services h5 {
    font-size: 1rem !important;
  }

  .personal-services h4 {
    font-size: 1.2rem !important;
  }

  .individual-rental-form h4 {
    font-size: 1rem !important;
  }

  .individual-rental-form  .btn-orange-outline{
    width: 30% !important;
    position: relative !important;
    left: 35%;
  }
  
  .corporate-services h5 {
    font-size: 1rem !important;
  }

  .corporate-services h4 {
    font-size: 1.2rem !important;
  }
  
  .corporate-header h5{
    padding: 1rem 2rem 0 2rem;
  }

  .driver-services h5 {
    font-size: 1rem !important;
  }

  .driver-services h4 {
    font-size: 1.2rem !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    
   

}