
.personal-header {
    margin-top: 1.5rem;
    
}

.personal-header h5{
    text-align: left !important;
    color: #fff;
    padding: 1.5rem 0 0 2.2rem;
}

.individual-rental-form .btn-orange-outline{
    border: 1px solid #E8551E !important;
    border-radius: 10px !important;
    margin-top: 1.2rem !important;
    position: relative !important;
    bottom: 3rem;
    left: 40%;
  }