
.locations-card .btn-orange-outline{
    border: 1px solid #E8551E !important;
    border-radius: 10px !important;
    margin-top: 1.2rem !important;
  }

.locations-card h5{
    font-weight: 700;
    padding: 0.95rem 0 0.3rem;
    text-align: left;
}

.locations-img {
    width: 100%;
    height: 270px;
    border: 15px solid #fff;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.locations-img .image-title {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #FFF;
    font-weight: 600;
    border: 1px solid #fff;
    padding:3px 15px;
    font-size: 0.8rem;
}

.location-single-area img {
    margin-bottom: 1.25rem;
}

.location-header {
    background-color: #E8551E;
    color: #FFF;
    margin: 2rem auto 4rem;
}

.location-header h4{
    padding: 1.25rem;
    font-weight: 700;
    text-align: center;
}

.location-single-area h4{
    font-size: 1.25rem;
    padding: 0 7rem 2rem;
}
.location-single .location-owl-image{
    width: 100%;
    height: 300px;
}
.location-single-area p{
    font-size: 1rem;  
}


@media screen and (min-width: 992px) and (max-width: 1600px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    

    .popular-location-area .tab-bar {
        width: 83% !important;
        position: absolute;
        bottom: 24px !important;
    }

    .popular-location-area h1 {
        font-size: 3rem !important;
    }

    .popular-location-area span {
        font-size: 0.7rem !important;
    }

    .popular-location-cardpage .container {
        padding: 10px 100px !important;
    }

    .locations-card h5 {
        font-size: 1rem !important;
    }

    .locations-card .btn-orange-outline {
        width: 26% !important;
        position: absolute !important;
        right: 125px !important;
    }

    .location-header {
        width: 550px !important;
    }

    .location-header h4{
       font-size: 1.2rem !important;
    }

    .location-single-area .container {
        padding: 0 50px !important;
    }

    .location-single-area p {
        font-size: 0.8rem;
        padding: 0 !important;
        
    }
    
    .location-single-area h4 {
       padding: 1rem 0 2rem !important 
    }

    .text-continue .border-end {
        border-right: none !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    
   

}
