.car-drop-btn:after {
    display: none !important;
    
}
.car-drop-btn:after {
    display: none !important;
}
.car-drop-btn:focus,.car-drop-btn:active {
    outline: none !important;
    box-shadow: none;
 }
.car-drop {
    top: 0px !important;
    transform: translate3d(0px, 40px, 0px) !important;
}
.car-drop-btn{
    -webkit-box-shadow: 0px 8px 15px -3px rgba(0,0,0,0.09) !important; 
    box-shadow: 0px 8px 15px -3px rgba(0,0,0,0.09) !important;
}

@media screen and (min-width: 992px) and (max-width: 1600px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .cars-tab-menu span {
        font-size: 0.6rem !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .MuiTab-root {
        min-width: 60px !important;
    }
}