
.campaigns-jumbotron h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: #FFF;
    padding-top: 9rem;
}

.campaign-card {
    text-align: center;
    
    padding: 3.75rem 1.1rem 2.5rem;
    font-weight: 700;
}

.campaign-img {
    width: 100%;
    height: 270px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.campaign-card h5{
    font-weight: 700;
    padding: 0.95rem 3.1rem 0.3rem;
}

.campaign-card .btn-orange-outline{
    border: 1px solid #E8551E !important;
    border-radius: 10px !important;
  }

.campaigns-header {
    background-color: #E8551E;
    color: #FFF;
    margin: 2rem auto 4rem;
}

.campaigns-header h4{
    padding: 1.25rem;
}

.campaign-single-area h4{
    font-size: 1.25rem;
    padding: 0 7rem 2rem;
}

.campaign-single-area p{
    font-weight: 700;
    padding: 0 2.2rem 1.5rem 3.5rem;
    font-size: 1rem;
}

.campaign-single-dropdown {
    padding: 0 2.2rem 7rem 3.5rem;
}

@media screen and (min-width: 992px) and (max-width: 1600px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .campaigns .tab-bar {
        width: 100% !important;
        position: absolute;
        bottom: 24px;
    }

    .campaigns h1 {
        font-size: 3rem !important;
    }

    .campaigns span {
        font-size: 0.7rem !important;
    }

    .campaigns-cardpage .container {
        padding: 0 100px !important;
    }

    .campaign-card {
        padding: 1rem 0 !important;
    }

    .campaign-card .btn-orange-outline{
        width: 40% !important;
    }

    .campaigns-header {
        width: 550px !important;
    }

    .campaigns-header h4{
        font-size: 1.2rem !important;
    }

    .campaign-single-area .container {
        padding: 0 40px !important;
    }
    

     .campaign-single-area p {
        font-size: 0.8rem;
        padding: 0 2rem 1.5rem ;
    }

    .campaign-single-dropdown .btn-orange-outline {
        width: 65% !important;
        position: absolute !important;
        left: 110px !important;
    }
    

}

@media screen and (min-width: 0px) and (max-width: 767px) {
 
    .campaigns .tab-bar {
        width: 100% !important;
        position: absolute;
        bottom: 24px;
    }

    .campaigns h1 {
        font-size: 1.8rem !important;
    }

    .campaigns span {
        font-size: 0.5rem !important;
    }

    .campaign-card {
        padding: 0.2rem 0.5rem 0.8rem !important;
    }

    .campaign-card h5 {
        font-size: 0.9rem !important;
    }

    .campaign-card .btn-orange-outline{
        width: 50% !important;
    }

    .campaign-card .btn-orange-outline span {
        font-size: 0.7rem !important;
    }

    .campaigns-header {
        width: 100% !important;
        margin: 0 0 2rem !important;
    }

    .campaigns-header h4{
        font-size: 0.9rem !important;
        padding: 1.5rem 0 !important;
    }

    .campaign-single-area .container {
        padding: 0 20px !important;
    }
    
     .campaign-single-area p {
        font-size: 0.8rem;
        padding: 0 20px!important;
    }

    .campaign-single-area h4 {
        font-size: 1rem;
        padding: 1rem 2rem !important;
    }

    .campaign-single-dropdown .btn-orange-outline {
        width: 90% !important;
        height: 50px !important;
        position: absolute !important;
        left: 17px !important;
        top: 25px !important;
        font-size: 0.8rem;
    }
   
    
    
    
}
