:root {
  --orange: #E8551E;
  --dark:#000000;
  --pink:#FD1C67;
  --pink-powder: #FFF0E8;
  --white: #ffffff;
  --gray: #595757;
  --green-check:rgb(88, 214, 140,0.20);
  --green-check-1:rgb(88, 214, 140);
}

*{
  font-family: 'Open Sans', sans-serif;
}

.c-padding{
  padding: 0 9%;
}

.header-top{
  background-color: var(--orange);
  color: var(--white);
}
.header-bottom{
  background-color: var(--dark);
  color: var(--white);
}

a{
  text-decoration:none;
  color: var(--white);
  transition:opacity .2s;
}
a:hover{
  color: var(--white);
  opacity: 0.3;
}

p, h1,h2,h3,h4,h5,h6 {
  padding:0;
  margin: 0;
}

.bg-black{
  background-color: var(--dark);
}
.bg-orange{
  background-color: var(--orange);
}
.bg-gray{
  background-color: var(--gray);
}
.bg-pink{
  background-color: var(--pink);
}
.bg-pink-powder{
  background-color: var(--pink-powder);
}
.bg-orange:checked{
  background-color: var(--orange);
}
.bg-pink:checked{
  background-color: var(--pink);
}
.bg-black:checked{
  background-color: var(--dark) !important;
}
.bg-orange:checked{
  background-color: var(--orange);
}
.bg-gray:checked{
  background-color: var(--gray);
}


.extra-bold{
  font-weight: 800;
}
.semi-bold{
  font-weight: 600;
}
.bold{
  font-weight:700 !important;
}

.text-orange{
  color: var(--orange)
}

.bg-image{
  background-size: cover;
  background-repeat: no-repeat;
}

.title-border{
  border: 2px solid var(--dark);
}
.title-border-green{
  border: 2px solid var(--green-check-1);
  color: var(--green-check-1) ;
}


/* Buttons */
.btn-orange{
  background-color: var(--orange);
  border-color: var(--orange);
  border-radius: 18px;
}
.btn-orange-outline{
  background-color: var(--white);
  color: var(--orange);
  border: 3px solid var(--orange);
  border-radius: 18px;
}

.btn-orange-outline:hover{
  background-color: var(--orange);
  color: var(--white);
  opacity: 1;
  border: 3px solid var(--orange);
  border-radius: 18px;
}
