:root {
  --orange: #E8551E;
  --dark:#000000;
  --pink:#FD1C67;
  --pink-powder: #FFF0E8;
  --white: #ffffff;
  --gray: #595757;
  --green-check:rgb(88, 214, 140,0.20);
  --green-check-1:rgb(88, 214, 140);
}

*{
  font-family: 'Open Sans', sans-serif;
}

.c-padding{
  padding: 0 9%;
}

.header-top{
  background-color: var(--orange);
  color: var(--white);
}
.header-bottom{
  background-color: var(--dark);
  color: var(--white);
}

a{
  text-decoration:none;
  color: var(--white);
  transition:opacity .2s;
}
a:hover{
  color: var(--white);
  opacity: 0.3;
}

p, h1,h2,h3,h4,h5,h6 {
  padding:0;
  margin: 0;
}

.bg-black{
  background-color: var(--dark);
}
.bg-orange{
  background-color: var(--orange);
}
.bg-gray{
  background-color: var(--gray);
}
.bg-pink{
  background-color: var(--pink);
}
.bg-pink-powder{
  background-color: var(--pink-powder);
}
.bg-orange:checked{
  background-color: var(--orange);
}
.bg-pink:checked{
  background-color: var(--pink);
}
.bg-black:checked{
  background-color: var(--dark) !important;
}
.bg-orange:checked{
  background-color: var(--orange);
}
.bg-gray:checked{
  background-color: var(--gray);
}


.extra-bold{
  font-weight: 800 !important;
}
.semi-bold{
  font-weight: 600 !important;
}
.bold{
  font-weight:700 !important;
}

.text-orange{
  color: var(--orange)
}

.bg-image{
  background-size: cover;
  background-repeat: no-repeat;
}

.title-border{
  border: 2px solid var(--dark);
}
.title-border-green{
  border: 2px solid var(--green-check-1);
  color: var(--green-check-1) ;
}


/* Buttons */
.btn-orange{
  background-color: var(--orange);
  border-color: var(--orange);
  border-radius: 18px;
}
.btn-orange-outline{
  background-color: var(--white);
  color: var(--orange);
  border: 3px solid var(--orange);
  border-radius: 18px;
}

.btn-orange-outline:hover{
  background-color: var(--orange);
  color: var(--white);
  opacity: 1;
  border: 3px solid var(--orange);
  border-radius: 18px;
}




.tab-bar .MuiTabs-indicator{
  display: none !important;
}

 .campaigns .tab-bar{
  width:60% !important;
  left: 50% !important;
  transform: translate(-50%, 50%);
  font-weight: 700 !important;
  background-color: var(--white);
  color: var(--orange);
  position: absolute;
  bottom:0;
}

.campaigns .tab-bar .MuiTab-root{
  min-width: 300px !important;
}

.policies .tab-bar{
  width:70% !important;
  left: 50% !important;
  transform: translate(-50%, 0);
  font-weight: 700 !important;
  background-color: var(--white);
  color: var(--orange);
  position: absolute;
  bottom:0;
}

.services .tab-bar{
  width:70% !important;
  left: 50% !important;
  transform: translate(-50%, 0);
  font-weight: 700 !important;
  background-color: var(--white);
  color: var(--orange);
  position: absolute;
  bottom:0;
}

.services .tab-bar .MuiButtonBase-root{
  min-width: 33.3% !important;
  width: 500px !important;
}


.cars .tab-bar{
  width:100% !important;
  left: 50% !important;
  font-weight: 700 !important;
  background-color: var(--orange);
  color: var(--white);
}

.cars .tab-bar .MuiTab-root{
  min-width: 50px !important;
  width: 200px !important;
}
.cars .tab-bar .MuiTab-textColorInherit.Mui-selected {
  background-color: #FF710F !important;
  color: var(--white) !important;
}
.popular-location-area .tab-bar .MuiTab-textColorInherit.Mui-selected , .campaigns .tab-bar .MuiTab-textColorInherit.Mui-selected, 
.policies .tab-bar .MuiTab-textColorInherit.Mui-selected, .services .tab-bar .MuiTab-textColorInherit.Mui-selected {
  background-color: var(--orange) !important;
  color: var(--white) !important;
}
.popular-location-area .tab-bar{
  width:70% !important;
  left: 50% !important;
  transform: translate(-50%, 50%);
  font-weight: 700 !important;
  background-color: var(--white);
  color: var(--orange);
  position: absolute;
  bottom:0;
}

.register-page .tab-bar{
  font-weight: 700 !important;
  background-color: transparent !important;
  color: var(--orange);
}
.register-page .tab-bar .MuiTab-textColorInherit:first-child:not(.Mui-selected) {
  border-radius: 15px;
  opacity: 1;
  border-radius:  15px 0px 0px 15px;
  background-color: #000000 !important;
  color: var(--white) !important;
}
.register-page .tab-bar .MuiTab-textColorInherit:last-child:not(.Mui-selected) {
  border-radius: 15px;
  opacity: 1;
  border-radius:  0px 15px 15px 0px;
  background-color: #000000 !important;
  color: var(--white) !important;
}
.register-page .tab-bar .MuiTab-textColorInherit:first-child.Mui-selected {
  border-radius:  15px 0px 0px 15px;
  background-color: var(--orange) !important;
  color: var(--white) !important;
}
.register-page .tab-bar .MuiTab-textColorInherit:last-child.Mui-selected {
  border-radius:  0px 15px 15px 0px;
  background-color: var(--orange) !important;
  color: var(--white) !important;
}


.popular-location-area .tab-bar .MuiTab-wrapper, .campaigns .tab-bar .MuiTab-wrapper, 
.policies .tab-bar .MuiTab-wrapper, .services .tab-bar .MuiTab-wrapper, .register-page .tab-bar .MuiTab-wrapper{
  font-weight: 700 !important;
}

.rezervasyon-form h2{
  font-weight: 700;
}
.general-form-1 input, .general-form-1 select, .general-form-1 textarea{
  padding: 20px 0 20px 10px;
  background-color:#F5F5F5 !important;
  border: 0 !important;
}
.general-form-1 .input-group-text:before{
  display: block;
  position:absolute;
  content:" ";
  width: 0;
  height: 50%;
  border-left: 1px solid #D0D0D0 !important;
  top: 50%;
  left:95%;
  transform: translateY(-50%);
}
.general-form-1 label{
  width:100% !important; 
}

.general-form-1 .form-label{
  margin-left: 3rem !important; 
}

.general-form-1 .input-group-text{
  position: relative;
  border: 0 !important;
  margin-right:1px !important;
  background-color:#F5F5F5 !important;
}