:root {
  --orange: #E8551E;
  --dark:#000000;
  --white: #ffffff;
}

*{
  font-family: 'Open Sans', sans-serif;
}

.header-top{
  background-color: var(--orange);
  color: var(--white);
}
.header-bottom{
  background-color: var(--dark);
  color: var(--white);
}

a{
  text-decoration:none;
  color: var(--white);
  transition:opacity .2s;
}
a:hover{
  color: var(--white);
  opacity: 0.3;
}

p, h1,h2,h3,h4,h5,h6 {
  padding:0;
  margin: 0;
}

.bg-black{
  background-color: var(--dark);
}
.bg-orange{
  background-color: var(--orange);
}

.extra-bold{
  font-weight: 800;
}
.semi-bold{
  font-weight: 600;
}
.bold{
  font-weight:700 !important;
}

.text-orange{
  color: var(--orange)
}

/* Buttons */
.btn-orange{
  background-color: var(--orange);
  border-color: var(--orange);
  border-radius: 18px;
}