
:root {
    --orange: #e8541e;
    --dark:#000000;
    --white: #ffffff;
  }
  

.homepage .date-slide{
    height: 83.5vh;
    background-size: cover; 
}

.card-date .form-card-date{
    background-color: rgb(255, 255, 255,0.5);
}
.card-date .filter-date{
    background-color: #000000;
    border-bottom: 15px solid var(--orange);
}

.form-card-date select{
    text-align-last: center; 
}
.form-card-date .btn-orange{
    font-size: 1.3rem;
    bottom:5px;
    left: 50%;
    transform: translateX(-50%);
}

.popular-cars{
    background-color: #707070;
}