
:root {
    --orange: #e8541e;
    --dark:#000000;
    --white: #ffffff;
  }
  
  .btn:hover{
      opacity: 1;
  }

.homepage .date-slide{
    height: 83.5vh;
    background-size: cover; 
}

.card-date .form-card-date{
    background-color: rgb(255, 255, 255,0.5);
}
.card-date .filter-date{
    background-color: #000000;
    border-bottom: 15px solid var(--orange);
}

.form-card-date select{
    text-align-last: center; 
}
.form-card-date .btn-orange{
    font-size: 1.3rem;
    bottom:5px;
    left: 50%;
    transform: translateX(-50%);
}

.popular-cars{
    background-color: #707070;
}

.date-slide .dropdown{ 
    width: 100% !important;
}
.date-slide .dropdown .dropdown-toggle::after{ 
    display: none !important;
}
.date-slide .dropdown a.dropdown-toggle:hover{ 
    background-color: var(--orange) !important;
    color: var(--white) !important;
    opacity: 1;
}
.date-slide .dropdown img{ 
    height:70%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0.7!important
}
.date-slide .dropdown .dropdown-menu li:hover{ 
    background-color: var(--orange) !important;
    color: var(--white);
    cursor: pointer;
    opacity: 1;
}
.date-slide .date-inputs-area .clock:hover , .date-slide .date-inputs-area .date:hover {
    cursor: pointer;
}
.date-slide .date-inputs-area .clock .text, .date-slide .date-inputs-area .date .text{
    color: gray;
    font-weight: 600;
    margin-left: 10px;
}
.date-slide .date-inputs-area img{ 
    height:40%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0.7!important
}

@media screen and (min-width: 992px) and (max-width: 1600px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .form-card-date .btn-orange{
        width: 65% !important;
        font-size: 1.1rem;
        padding: 1.3rem 0 !important;
    }
   
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .form-card-date .btn-orange{
        width: 75% !important;
        font-size: 1.1rem;
        padding: 1rem 0 !important;
    }
    .card-date {
        width: 100% !important;
    }
}
